#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #3f50b5;
}

.loginPaper {
  padding: 2rem;
  height: auto;
  width: 280px;
  text-align: center;
}
