#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #3f50b5;
}

.loginPaper {
  padding: 2rem;
  height: auto;
  width: 280px;
  text-align: center;
}

.chatPaper {
  padding: 2rem;
  display: block;
  height: auto;
  width: 1400px;
  text-align: center;
}

.chatContainer {
  height: 80vh;
}

.chatHeader {
  padding: 10px;
  background-color: #ffffff;
  color: #3f50b5;
}

h4 {
  margin-left: 10px;
  margin: 5px;
  font-weight: bold;
}

.chatTitle {
  margin-left: 10px;
  font-size: 2.2rem;
  font-weight: bold;
}

.MessagesBoxAndBar {
  display: block;
  padding: 10px;
  height: 62vh;
  width: 124vh;
}

.chatMessages {
  display: block;
  padding: 10px;
  height: 62vh;
  background-image: url("/img/backchat.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  border: 4px solid #3f50b5;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 0px;
}

.chatInputContainer {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: white;
}

.chatInput {
  flex: 1;
  margin-right: 10px;
}

.messageContainer {
  overflow: hidden;
}

.messageText {
  font-size: 14px;
}

.messageTime {
  font-size: 10px;
  color: #d2c9d2;
  float: right;
  display: block;
}

.chatMessage {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.sentMessage {
  background-color: #3f50b5;
  color: #ffffff;
  text-align: left;
  float: left;
  clear: both;
}

.receivedMessage {
  background-color: #ffffff;
  color: #000000;
  text-align: right;
  float: right;
  clear: both;
}
.groups {
  display: block;
  height: 62vh;
  overflow-y: auto;
}

.group {
  max-height: 60%;
}
